@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'montserrat', sans-serif;
}

.profile{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
}

nav{
    display: flex;
    width: 95%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: right;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #212121;
    font-weight: bold;
}

nav ul li a:hover{
    color: orange;
    transition: 0.25s ease;
}

.detail{
    margin-left: 8%;
    margin-top: 10%;
}

.detail1{
    margin-left: 8%;
    margin-top: 0%;
}

.detail2{
    margin-left: 8%;
    margin-top: 1%;
}

.detail h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 40px;
    color: #212121;
    margin-bottom: 20px;
    transform: translateX(0%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}

.detail1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
    color: orange;
    margin-bottom: 20px;
    transform: translateX(0%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}

.detail2 h1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 25px;
    color: orange;
    margin-bottom: 20px;
    transform: translateX(0%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}

span{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 40px;
    color: orange;
}

span1{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 40px;
    color: #212121;
}

.detail p{
    color: #555;
    line-height: 22px;
    transform: translateX(0%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}

.detail1 p{
    color: #555;
    font-weight: bold;
    line-height: 22px;
    transform: translateX(0%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}


.detail2 p{
    color: #555;
    line-height: 22px;
    transform: translateX(0%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-0.25%);
	}
	75% {
		transform: translateX(-0.15%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

.btn1{
    width: 140px;
    height: 40px;
    border-radius: 8px;
    background-color: orange;
    border: none;
    outline: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    transform: translateX(0%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}

.btn1:hover{
    background-color: black;
    color: white;
    border: 2px solid;
}

/*.images{
    width: 40%;
    height: 60%;
    position: absolute;
    bottom: 20%;
    right: 100px;
}*/

.images{
    width: 25%;
    height: 60%;
    bottom: 20%;
    position: absolute;
    right: 180px;
    border-radius: 50%;
    transition: 0.5s ease;
    }

.images:hover{
    transform: scale(1.05);
}

@keyframes slide-in-anim1 {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(0.05%);
	}
	75% {
		transform: translateX(0.25%);
	}
	100% {
		opacity: 1;
		transform: translateX(0.5%);
	}
}

.contact-info{
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    max-width: 1200px;
}

.card{
    background: #d8e3f6;
    padding: 0 20px;
    margin: 0 10px;
    width: calc(33% - 20px);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.card-icon{
    font-size: 28px;
    background: #eff4fd;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px !important;
    border-radius: 50%;
    transition: 0.3s linear;
}

.card-icon:hover{
    transform: scale(1.1);
}